.full-width-space {
	display: flex;
	background: linear-gradient(to right, #10146c, #08144c);
	padding: 1%;
	position: relative;
}
.curve-div {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 180vh;
	background-color: white;
	border-top-left-radius: 70% 15%;
	border-top-right-radius: 70% 15%;
}
.header-big {
	font-size: 5vw;
	font-family: Sans-serif;
	color: white;
	font-weight: bold;
	margin: 2vw;
}
.card-trade-section {
	width: 80vw;
	max-width: 80vw;
}
.input-box {
	width: 20vw;
	padding: 1vw;
	border-radius: 1vw;
}
.input-change {
	width: 20vw;
	height: 10vh;
}
.label-small {
	font-size: 2vh;
	font-family: Sans-serif;
	color: rgb(131, 131, 131);
	font-weight: bold;
}
.section-header {
	font-size: 4vh;
	font-family: Sans-serif;
	color: rgb(51 51 51 / var(--tw-text-opacity));
	font-weight: bold;
}
.average-section {
	font-size: larger;
	font-weight: bold;
}
.ant-card.card-shadow {
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 10px 30px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}
.btn-convert {
	margin-top: 2.5vh;
	height: 10vh;
	font-size: 1.2em;
}
.name-currency {
	font-weight: 500;
}
.result-box {
	width: 20vw;
	padding: 1vw;
	border-radius: 1vw;
}
.result-text {
	font-size: 2vh;
	font-family: Sans-serif;
	color: rgb(51 51 51 / var(--tw-text-opacity));
	font-weight: bold;
}
.swap-button {
	position: absolute;
	top: 56%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #10146c;
	color: white;
	border-radius: 50%;
	width: 7vh;
	height: 7vh;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
	z-index: 10;
}
.swap-button:hover {
	background-color: #08144c;
}
.table-quick-exchange {
	width: 30vw;
}
img {
	margin-top: 0.7vh;
}
